/node_modules

/storage/*.key

# public
/public/hot
/public/storage
/public
!/public/.htaccess
!/favicon.ico
!/public/index.php
!/mix-manifest.json
!/public/robots.txt
!/public/web.config

/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
